In [15]:
#import all libraries needed
import pandas as pd
import numpy as np

In [16]:
#read in the data and print to see
df = pd.read_csv("/Users/apple/Desktop/prescribers.txt")
df

,id,prescriber_last_name,prescriber_first_name,drug_name,drug_cost
0,1000000001,Smith,James,AMBIEN,100
1,1000000002,Garcia,Maria,AMBIEN,200
2,1000000003,Johnson,James,CHLORPROMAZINE,1000
3,1000000004,Rodriguez,Maria,CHLORPROMAZINE,2000
4,1000000005,Smith,David,BENZTROPINE MESYLATE,1500

In [18]:
#used a dictionary, whose key is the name of the drug and value is the accumulitived cost of that drug
cost_dict = dict()

#convert the two columns to numpy array to work with
drug_array = np.array(df["drug_name"])
cost_array = np.array(df["drug_cost"])

#for loop to update the dictionary
for i in range(len(drug_array)):
    cost_dict[drug_array[i]] = cost_dict.get(drug_array[i],0) + cost_array[i]

#sort the dictionary by value in desending order
sorted_cost = dict(sorted(cost_dict.items(), key=operator.itemgetter(1),reverse=True))

#virtual check
print(sorted_cost)

{'CHLORPROMAZINE': 3000, 'BENZTROPINE MESYLATE': 1500, 'AMBIEN': 300}

In [38]:
# Here I pull out all the distinct drug names and their name columns to form their own dataframe, 
# then count unique values in the new dataframe to obtain unique name for each drug
name_dict = dict()

# Pulling out each unique drugs and form a new column called full name, then find number of unique values in 
# full name column.
# An improvement here is to use loops to generate all dataframes and numbers automatically. Since there are only three
# distinct drugs here, this is easier and faster. With large dataset, loops should be used for each unique drug.

ambien_df = pd.DataFrame(df[df["drug_name"] == "AMBIEN"])
ambien_df["full name"] = ambien_df["prescriber_last_name"] + ambien_df["prescriber_first_name"]
n = len(pd.unique(ambien_df['full name']))
name_dict["AMBIEN"] = n

CHLORPROMAZINE_df = pd.DataFrame(df[df["drug_name"] == "CHLORPROMAZINE"])
CHLORPROMAZINE_df["full name"] = CHLORPROMAZINE_df["prescriber_last_name"] + CHLORPROMAZINE_df["prescriber_first_name"]
m = len(pd.unique(CHLORPROMAZINE_df['full name']))
name_dict["CHLORPROMAZINE"] = m

BENZTROPINE_df = pd.DataFrame(df[df["drug_name"] == "BENZTROPINE MESYLATE"])
BENZTROPINE_df["full name"] = BENZTROPINE_df["prescriber_last_name"] + BENZTROPINE_df["prescriber_first_name"]
k = len(pd.unique(BENZTROPINE_df['full name']))
name_dict["BENZTROPINE MESYLATE"] = k

name_dict

{'AMBIEN': 2, 'CHLORPROMAZINE': 2, 'BENZTROPINE MESYLATE': 1}

In [51]:
# convert the obtained two dictionary to dataframe and rename columns as required
output_df =  pd.Series(sorted_cost).to_frame()
output_df["num_prescriber"] = pd.Series(name_dict)
output_df.rename(columns = {0: "tot_cost"}, inplace = True)
output_df.index.name = "drug_name"
output_df

                      tot_cost  num_prescriber
drug_name
CHLORPROMAZINE            3000               2
BENZTROPINE MESYLATE      1500               1
AMBIEN                     300               2